.form {
  margin-top: 60px;
  height: min-content;
  width: 360px;
  background-color: white;
  padding: 20px 10px;
  border-radius: 10px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formButton {
  min-width: 300px;
  cursor: pointer;
  border: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  background: linear-gradient(64deg, #07fdfd 0%, #4d69fe 46.88%, #c0f 100%);
}

.formButton:hover {
  opacity: 0.9;
}

.formButton:active {
  opacity: 0.7;
}
